<div>
	<form class="form-horizontal">
	
		<div class="form-group">
	    	<label class="control-label col-sm-2">First Name : </label>
	    	<div class="col-sm-6">
	      		<input type="text" class="form-control" ng-model="userCopy.firstName" required>
	    	</div>
	  	</div>
	  
		  <div class="form-group">
		    	<label class="control-label col-sm-2">Last Name : </label>
		    	<div class="col-sm-6">
		      		<input type="text" class="form-control" ng-model="userCopy.lastName" required>
		    	</div>
		  </div>
		  
		  <div class="form-group">
		    	<label class="control-label col-sm-2">Email : </label>
		    	<div class="col-sm-6">
		      		<input type="email" class="form-control" ng-model="userCopy.email" required>
		    	</div>
		  </div>		  
		 
		  <div class="form-group">
		    	<label class="control-label col-sm-2">Password : </label>
		    	<div class="col-sm-6">
		      		<input type="password" class="form-control" ng-model="userCopy.password" required>
		    	</div>
		  </div>
		  
		  <div class="form-group" ng-repeat="role in userCopy.roles">
		    	<label class="control-label col-sm-2">Role : </label>
		    	<div class="col-sm-6" >
		      		<input type="text" class="form-control" ng-model="role.name" required>
		    	</div>
		  </div>
		  
		  <div class="form-group" ng-repeat="phoneNum in userCopy.phoneNumbers">
		    	<label class="control-label col-sm-2">Phone : </label>
		    	<div class="col-sm-6" >		    	
		      		<input type="tel" class="form-control" ng-model="phoneNum">
		    	</div>
		  </div>
	  	 
	</form>

</div>