<!DOCTYPE html>
<html ng-app="Docstar.App">
    <head>
        <title>DocStar</title>
        <base href="/docstar">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/resources/css/style.css">
        
        <script
           src="https://code.jquery.com/jquery-3.1.1.js"
           integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
           crossorigin="anonymous">
        </script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
       
        <script src="/resources/app.js"></script>
        <script src="/resources/views/login/login.js"></script>
        <script src="/resources/views/shared/profile.js"></script>
        <script src="/resources/views/admin/admin.js"></script>
        <script src="/resources/views/user/user.js"></script>
        <script src="/resources/js/spring-security-csrf-token-interceptor.js"></script>
    </head>
    
    <body >
		<nav class="navbar navbar-inverse container" ng-controller="Docstar.Controller" >		
		
			<div class="navbar-header">	
				<a class="navbar-brand" ng-href="/#!/docstar">DocStar<small ng-if="!isAuthenticated()">&nbsp invites you to rate documents</small></a> 				
			</div>
  			
			<ul class="nav navbar-nav">			
			
				<li ng-if="hasRole('ROLE_USER')">
					<a href="/#!/user">User</a>												
				</li>			
				
										
				<li ng-if="hasRole('ROLE_ADMIN')">
						<a href="/#!/admin">Admin</a>		
				</li>	
				
				<li ng-if="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')">
						<a href="/#!/profile">Profile</a>				
				</li>
			</ul>			
		
			<div class="pull-right" ng-if="isAuthenticated()" > 
				<h4> <button class="btn btn-sm btn-primary" ng-click="logout()">Logout</button></h4>
			</div>
			
		</nav>
    
        <div class="container">
            <div ng-view></div>
        </div>
    </body>
</html>