<div>
	
	<h3 ng-if="isCreatingTime == false">All Users<button class="btn btn-sm pull-right btn-success" ng-click="createNewUser()">Create New User</button></h3>
  	
  	<div ng-if="isCreatingTime">
		<form class="form-horizontal">
	
		<div class="form-group">
	    	<label class="control-label col-sm-2">First Name : </label>
	    	<div class="col-sm-6">
	      		<input type="text" class="form-control" ng-model="newUser.firstName" required>
	    	</div>
	  	</div>
	  
		  <div class="form-group">
		    	<label class="control-label col-sm-2">Last Name : </label>
		    	<div class="col-sm-6">
		      		<input type="text" class="form-control" ng-model="newUser.lastName" required>
		    	</div>
		  </div>
		  
		  <div class="form-group">
	    	<label class="control-label col-sm-2">User Name : </label>
	    	<div class="col-sm-6">
	      		<input type="text" class="form-control" ng-model="newUser.username" required>
	    	</div>
	  	</div>	  
		  
		  <div class="form-group">
		    	<label class="control-label col-sm-2">Email : </label>
		    	<div class="col-sm-6">
		      		<input type="email" class="form-control" ng-model="newUser.email" required>
		    	</div>
		  </div>		  
		 
		  <div class="form-group">
		    	<label class="control-label col-sm-2">Password : </label>
		    	<div class="col-sm-6">
		      		<input type="password" class="form-control" ng-model="newUser.password" required>
		    	</div>
		  </div>
		  
		  <div class="form-group" >
		    	<label class="control-label col-sm-2">Role : </label>
		    	<div class="col-sm-6" >
		      		<input type="text" class="form-control" ng-model="role" required>
		    	</div>
		  </div>
		  
		  <div class="form-group">
		    	<label class="control-label col-sm-2">Phone : </label>
		    	<div class="col-sm-6" >		    	
		      		<input type="tel" class="form-control" ng-model="phoneNum" required>
		    	</div>
		  </div>
		  
		  <div class="col-sm-5 col-sm-offset-2 ">
			  <button class="btn btn-sm btn-danger" ng-click="cancelCreateUser()">Cancel</button>
			  <button class="btn btn-sm btn-success pull-right" ng-click="createUser()">Save</button>
		  </div>
	  	 
	</form>
	
</div>
  	
	<table class="table" ng-if="isCreatingTime == false">
		<tr>
			<th>Username</th>
			<th>First</th>
			<th>Last</th>	
			<th>Email</th>	
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.username}}</td>
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>	
			<td>{{user.email}}</td>
			<td>
				<button class="btn btn-xs btn-danger" ng-click="deleteUser(user.id)">Delete</button>
			</td>
	</table>
	

</div>