<div id="login" class="container">

    
    <div class="alert alert-danger" ng-if="error">
        {{error.msg}}
        
    </div>

    <div class="login-div">
        <form class="form-horizontal" name="loginForm">
            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-2">Username</label>
                <div class="col-sm-6">
                    <input ng-model="credentials.username" class="form-control" id="login-email" type="text" placeholder="Enter username" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-offset-1 col-sm-2">Password</label>
                <div class="col-sm-6">
                    <input ng-model="credentials.password" class="form-control" id="login-password" type="password" placeholder="Enter password" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-4">
                    <button type="submit" ng-click="loginForm.$valid && login()" class="btn btn-primary btn-sm pull-right" >
                    	Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>